body {
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
     background-color: #f4f4f9;
    color: black;
    padding: 10px 20px;
    text-align: center;
}

nav a {
     color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
}

nav a:hover {
    background-color: #f4f4f9;
}

main {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; 
}


main img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

* {
    box-sizing: border-box;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* garante que o contêiner ocupe toda a largura */
  margin-top: 20px;
}

iframe {
  border: 1px solid #ccc;
}

.video-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
